<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body {
    text-align: center;
    font-family: Arial;
    background: #f5f5f5;
}

h1 {
    color: #333;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}
</style>
<body>
    <h2>Upload Image</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="image" >

        <h1>AI Photo Editor</h1> 

        <button name="filter" value="bw">Black & White</button>
        <button name="filter" value="enhance">Enhance</button>
        <button name="filter" value="warm">Warm</button>
        <button name="filter" value="hdr">HDR</button>
        <button name="filter" value="beauty">Beauty</button>
        <button name="filter" value="blur">Blur</button>
        
    </form>

    {% if image_url %}
    <h3>Result : </h3>
    <img src="{{ image_url }}" width="300">
    {% endif %}
    
</body>
</html>